name: playground
description: A new Flutter project.
version: 1.1.6

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.0
  flutter_hooks: ^0.16.0
  hooks_riverpod: ^0.14.0+3
  uuid: ^3.0.0
  yaml:
  freezed_annotation:
  json_serializable:
  state_notifier: ^0.7.0
  get_it: ^4.0.2
  settings_ui: ^0.2.0
  purchases_flutter: ^1.4.1
  flutter_riverpod: ^0.14.0+3
  audio_service: ^0.17.0
  just_audio: ^0.7.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner:
  freezed:
  flutter_flavorizr:

flutter:
  uses-material-design: true
  assets:
    - secrets/
    - assets/

# <https://pub.dev/packages/flutter_flavorizr>
flavorizr:
  app:
    android:
      flavorDimensions: "flavor-type"
    ios:

  flavors:
    dev:
      app:
        name: "PlayGround-dev"
      android:
        applicationId: "com.example.playground.dev"
      ios:
        bundleId: "com.example.playground.dev"

    stg:
      app:
        name: "PlayGround-stg"

      android:
        applicationId: "com.example.playground.stg"
      ios:
        bundleId: "com.example.playground.stg"

    prd:
      app:
        name: "PlayGround-prd"

      android:
        applicationId: "com.example.playground"
      ios:
        bundleId: "com.example.playground"
