name: playground
description: A new Flutter project.
version: 1.1.2

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.0
  flutter_hooks: ^0.11.0
  hooks_riverpod: ^0.5.1
  uuid: ^2.2.2
  freezed_annotation:
  json_serializable:
  state_notifier:
  get_it: ^4.0.2
  settings_ui: ^0.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner:
  freezed:
  flutter_flavorizr: ^1.0.7

flutter:
  uses-material-design: true

# <https://pub.dev/packages/flutter_flavorizr>
flavorizr:
  app:
    android:
      flavorDimensions: "flavor-type"
    ios:

  flavors:
    dev:
      app:
        name: "PlayGround-dev"
      android:
        applicationId: "com.example.playground.dev"
      ios:
        bundleId: "com.example.playground.dev"

    stg:
      app:
        name: "PlayGround-stg"

      android:
        applicationId: "com.example.playground.stg"
      ios:
        bundleId: "com.example.playground.stg"

    prd:
      app:
        name: "PlayGround-prd"

      android:
        applicationId: "com.example.playground"
      ios:
        bundleId: "com.example.playground"
